{%extends 'base.html'%}
{%block rest%}

<div class="container text-center">
    <h3 class="circle-header">O firmie</h3>
            <div class="text-center">
                <hr  class="horizontal-line  w-50">
            </div>
    <img src="{{url_for('static',filename='profile.jpg')}}">
    <h2>Biuro Rachunkowe "DINO" obsługuje swoich klientów od 1993 roku.<br>

Prowadzimy między innymi:<br>
<ul>
    <li>księgi przychodów i rozchodów</li>
    <li>księgi handlowe</li>
    <li>ryczałt</li>
    <li>ewidencje VAT</li>
    <li>rozliczenia ZUS</li>
    <li>rozliczenia kadrowo-płacowe</li>
    <li>doradztwo podatkowe</li>
</ul>


</h2>
</div>
{%endblock%}
