{% extends 'base.html' %}


{%block rest%}
<div class="container pt-3 pb-4">
    <section id="kpir">
        <h1>KPIR</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="ksiegi-handlowe">
        <h1>Księgi Handlowe</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="ryczalt">
        <h1>Ryczałt</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="pelna-ksiegowosc">
        <h1>Pełna księgowość</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="rozliczenia-zus">
        <h1>Rozliczenia ZUS</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="rkp">
        <h1>RKP</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="doradztwo-podatkowe">
        <h1>Doradztwo Podatkowe</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
    <section id="ewidencjaVat">
        <h1>Ewidencja VAT</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet congue mi, eu euismod nulla semper non.
        Nunc eu tempor dolor, eu feugiat libero. Sed pretium turpis in risus scelerisque, vehicula congue nibh
        ullamcorper. Cras suscipit consectetur tellus, vitae faucibus ligula egestas at. Mauris auctor gravida mi, ac
        tincidunt lorem dictum quis. Pellentesque laoreet sed lectus pretium laoreet. Nullam bibendum quis eros ac
        maximus. Mauris quis turpis ut lorem cursus ullamcorper. Cras purus metus, faucibus at massa sit amet, viverra
        ultrices sem. Aliquam leo massa, tincidunt nec auctor ac, accumsan vel sem.

        Cras a venenatis quam, quis ultricies metus. Fusce cursus nisi augue, vitae lacinia erat consectetur a. Maecenas
        ac mi sit amet nisi porta vehicula ac in enim. Nulla purus sem, iaculis vitae augue at, cursus luctus risus.
        Duis vitae bibendum libero. Praesent bibendum tincidunt mi eu volutpat. Nunc id tristique nunc. Nam ligula elit,
        malesuada vel pulvinar non, pellentesque ac lacus.
    </section>
</div>
{%endblock%}


